{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui green header">
    Welcome to Bookmark Team
  </h1>
    <p>
      This app allows you to mark a document or a specific place in a document for later retrieval. 
    </p>
  <img class="ui aligned middle image" src="https://cdn.gomix.com/341cf04e-8f83-4d32-9b00-92ae2447711a%2Fbookmark.png"> </img>
</section>

